

.contact {
  background-color: transparent;
  color: var(--dark-color);
  padding: 15px;
  max-width: 200px;
position: absolute;
left: 1rem;
top: 1rem;
z-index: 1000;
}

.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.input{
  margin-right: 1rem;
  font-size: 1rem !important;
  background-color: transparent;
  border: none;
  outline: none;

}

.input::placeholder{
  font-size: 1rem;
}

